# Python Basics

## Whitespace Is Important

In [9]:
listofNumbers = [1,23,45,496,1039, 8]

for number in listofNumbers:
    x = number
    if number % 2 == 0:
        print(str(x) + " is even")
    else:
        print(str(x) + " is odd")

1 is odd
23 is odd
45 is odd
496 is even
1039 is odd
8 is even

## Importing Modules

In [10]:
import numpy as np

A = np.random.normal(25.0, 5.0, 10)
print (A)

[19.51946347 31.59059803 27.79721578 20.56036359 17.34584147 26.39118671
 24.50124427 27.5393764  27.10533884 32.24654255]

## Lists

In [11]:
x = [1, 2, 3, 4, 5, 6, 7]
print(len(x))

7

In [12]:
x[:3]

[1, 2, 3]

In [13]:
x[3:]

[4, 5, 6, 7]

In [14]:
x[-2:]

[6, 7]

In [15]:
x.extend([7,8])
x

[1, 2, 3, 4, 5, 6, 7, 7, 8]

In [16]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9]

In [17]:
y = [10, 11, 12]
listOfLists = [x, y]
listOfLists

[[1, 2, 3, 4, 5, 6, 7, 7, 8, 9], [10, 11, 12]]

In [18]:
y[1]

11

In [19]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [20]:
z.sort(reverse=True)
z

[3, 2, 1]

## Tuples

In [21]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

3

In [22]:
y = (4, 5, 6)
y[2]

6

In [23]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [24]:
(age, income) = "32,120000".split(',')
print(age)
print(income)

32
120000

## Dictionaries

In [25]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Voyager"])

Janeway

In [26]:
print(captains.get("Enterprise"))

Kirk

In [27]:
print(captains.get("NX-01"))

None

In [28]:
for ship in captains:
    print(ship + ": " + captains[ship])

Enterprise: Kirk
Enterprise D: Picard
Deep Space Nine: Sisko
Voyager: Janeway

## Functions

In [30]:
def SquareIt(x):
    return x * x

print(SquareIt(88))

7744

In [32]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print(DoSomething(SquareIt, 90))

8100

In [34]:
#Lambda functions let you inline simple functions
print(DoSomething(lambda x: x * x * x, 12))

1728

## Boolean Expressions

In [35]:
print(1 == 3)

False

In [36]:
print(True or False)

True

In [37]:
print(1 is 3)

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-37-4f5eef3bedd6>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 3)

In [38]:
if 1 is 3:
    print("How did that happen?")
elif 1 > 3:
    print("Yikes")
else:
    print("All is well with the world")

All is well with the world

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-38-065827c198fa>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 1 is 3:

## Looping

In [40]:
for x in range(12):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11

In [43]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 7):
        break
    print(x)

0
2
3
4
5
6
7

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-43-e0bde1376582>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if (x is 1):

In [44]:
x = 0
while (x < 10):
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

## Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [51]:
# mylist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
x = 0
while (x < 50):
    x += 1
    if x % 2 != 0:
        continue
    else:
        print(x)
        
# for x in mylist:
#     if x % 2 != 0:
#         continue
#     else:
#         print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50